#principal {
    background: gray;
    border: 1px solid black;
    padding: 10px;
}

.conteudo {
    background: #00ccff;
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    float: right;
    margin: 10px;
}

.clear {
    clear: both;
}